<div>
    <div style= 'text-align:center;background-color:gray;padding:5px;color:white;'>
        <h3>REGISTRATION SUCCESFULL!</h3>
        <p> the intructor had been succesfully enrolled in the system</p>

        <a href='{% url 'register_instructor' %}'>REGISTER ANOTHER INSTRUCTOR</a>
    <div style= 'text-align:center;padding:5px;'>
        <button href='{% url 'register_instructor' %}',type='submit', style='border-radius:12px;background-color:white;' >EDIT DATA</button>
    </div>
    </div>
</div>